<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Create New Items</h1>
  
    <%= form_for(@item, html: {multipart: true}) do |item| %>
      <p>Name: <%= item.text_field :name %></p>
      <p>Description: <%= item.text_field :description %></p>
      <p>Price: <%= item.text_field :price %></p>
      <p>Category: <%= item.text_field :category_id %></p>
      <p>Upload an Image: <%= item.file_field :image %></p>
      <p><%= item.submit('save item') %></p>
    <% end %>

  </div>
</div>
