<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Create New Item</h1>
      <%= form_for(@item, html: {multipart: true}) do |item| %>
        <div class="form-group">
          <p>Name: <%= item.text_field :name, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <p>Description: <%= item.text_area :description, class: 'form-control'%></p>
        </div>
        <div class="form-group">
          <p>Price: <%= item.text_field :price, class: 'form-control' %></p>
        </div>
        <div class="form-group">
          <p>Upload an Image: <%= item.file_field :image %></p>
        </div>
        <div class="form-group">
        <select name="item[category_id]">
          <option value="">Select Category</option>
          <option value=1>For Sale</option>
          <option value=2>Housing</option>
          <option value=3>Personals</option>
          <option value=4>Jobs</option>
          <option value=5>Services</option>
        </select>
        </div>
        <div>
          <p><%= item.submit('save item', class: 'btn btn-default')%></p>
        </div>
      <% end %>
  </div>
</div>

